/* reset css */
* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
  background-color: #adf8ad;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* styles */
main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-letter {
  position: relative;
}

.cover {
  position: absolute;
  border-left: 150px solid black;
  border-right: 150px solid black;
  border-top: 75px solid #1efa29;
  border-bottom: 75px solid #1efa29;
  transition: transform .75s;
  transform-origin: top;
}

.paper {
  position: absolute;
  padding: 1rem;
  line-height: 1.5rem;
  right: 3px;
  z-index: -1;
  background: white;
  width: 294px;
  height: 135px;
  transition: all .75s;
  text-align: center;
}

.letter {
  border-left: 150px solid black;
  border-right: 150px solid black;
  border-top: 75px solid transparent;
  border-bottom: 75px solid #1efa29;
}

.options {
  display: flex;
  gap: 3rem;

  & button {
    color: black;
    font-weight: 600;
    border-radius: 3px;
    background: gray;
    padding: 0.3rem 0.7rem;
    border: 1px solid black;
    cursor: pointer;
    font-size: 0.9rem;
  }

  & button:hover {
    background: gray;
    color: black;
  }
}

.open-cover {
  transform: rotatex(180deg);
}

.open-paper {
  animation: openPaper .5s forwards;
}

@keyframes openPaper {
  0% {
    top: 0;
  }
  100% {
    top: -90px;
    height: 150px;
  }
}

.close-paper {
  animation: closePaper .5s forwards;
}

@keyframes closePaper {
  0% {
    top: -90px;
  }
  100% {
    top: 0;
  }
}

.heart {
  position: absolute;
  top: 25%;
  left: 46.5%;
  margin: auto;
  width: 20px;
  height: 20px;
  display: block;
  animation: crecer 2s forwards;
}

@keyframes crecer {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 2.5;
    opacity: 0;
  }
}

.event-info {
  text-align: center;
  padding: 1rem;
  background: #adf8ad;
  width: 294px;
  margin: 0 auto;
  display: none; /* Estilo inicial */
  opacity: 0;
  transition: opacity 0.5s;
}

.event-info.visible {
  display: block !important; /* Forzar visibilidad */
  opacity: 1 !important; /* Forzar opacidad */
}